<!DOCTYPE html>

<html>

    <head>
        
        {% block head %}
              <title>Launchstore</title>
        {% endblock %}

        {%include "parts/styles.njk" %}
    </head>

    <body>
        
        {%include "parts/messages.njk" %}

        {%include "parts/header.njk"%}

        {% block content %}{% endblock %} <!---Recebe o bloco com mesmo nome de outras paginas-->

        {%include "parts/footer.njk"%}



    </body>


</html>